body {
    font-family: Helvetica, sans-serif;
    color: #f0f0f0;
    background-color: #000000;
}

h1, h4, p {
    padding: 0;
    margin: 0;
}

ul, ul > li {
    padding: 0 auto;
    margin: 0 auto;
}

h1, h4 {
    text-align: center;
}

div.main-border-outer, div.main-border-inner {
    margin: 6px;
    border: 1px solid #dbdbdb;
}

div.main-border-inner {
    padding: 12px;
}

div.title-separator {
    margin: 12px 0;
    border: 1px solid #a0a0a0;
}

div.vertical-separator {
    margin: 0 1em;
    border: 1px solid #a0a0a0;
    height: auto;
    width: 0;
    display: inline;
}

h4.menu > a {
    text-decoration: none;
    color: inherit;
}

div.section {
    padding: 0 6px;
}

div.section > h5 {
    margin: 12px 0;
    padding: 12px 0;
    border-bottom: 2px solid #f0f0f0;
    width: fit-content;
}
