
.content {
    color: black;
    &-page-heading {
        @extend .content;
    };
    &-content-heading {
        @extend .content;
    };
    &-section-heading {
        @extend .content;
    };
    &-subsection-heading {
        @extend .content;
    };
    &-text {
        &-content {
            @extend .content;
        };
        &-link {
            @extend .content;
            text-decoration: none;
        };
    };
    &-list {
        &-item {
            @extend .content;
        }
    };
    &-code {
        &-container {
            width: 90%;
            padding: 1em 0;
            margin: 0 auto;
            overflow: scroll;
        };
        &-text {
            color: skyblue;
        };
    };
    &-math {
        &-text {
            @extend .content;
        };
    };
    &-table {
        &-cell {
            @extend .content;
        };
    };
};
