
@use '../styles/common';

.header {
    margin: {
        top: 0;
        bottom: 0;
    };
    padding: 0;
    background-color: black;
    color: white;
    &-title {
        @extend .header;
        padding: {
            top: 6px;
            bottom: 6px;
        };
        border: 1px solid white;
        text-align: center;
    };
    &-menu {
        @extend .header;
        &-link {
            @extend .header;
            display: block;
            text-decoration: none;
            color: black;
        };
        &-link-label {
            @extend .header-title;
        }
    };
};
